* {
   padding: 0px;
   border: 0px;
}

body {
   margin: 0px;
   padding: 0px;
   border: 0px;
   font-size: 14px;
   background-color: #e5e5e5;
}

h2 {
    text-align: center;
}

#container{
   font-family: 'Roboto', sans-serif;
   font-size: 1.6em;
}

#container > section {
   position: relative;
   max-width: 600px;
   height: 400px;
   
   padding: 1em 0 0 4em;
   margin: 1em auto 1em auto;
   
   background-color: #eeeeee;
   border: 2px solid #f0f0f0;
   overflow: hidden;
}

    #main{
    position:relative;
    left:10em;
    }
   /* common and example 1 */
   #side-menu {
      position: absolute;
      top: 0;
      left: -6em;
      width: 7em;
      height: 100%;
      z-index: 10;

      background-color: #f0f0f0;
      overflow: visible;
      opacity: 0.5;

      box-shadow: 5px 0px 15px #aaa;
      padding-right: 1em;

      transition: left 0.25s ease, opacity 0.25s ease;
      -webkit-transition: left 0.25s ease, opacity 0.25s ease;
   }
    
   

      #side-menu > a:after {
         color: transparent;
         content: '.';
         display: block;
         width: 0; 
         height: 0; 
         position: relative;
         left: 6.6em;
         bottom: 1.5em;
         border-top: 0.5em solid transparent;
         border-bottom: 0.5em solid transparent; 
         border-right: 0.5em solid blue;
      }
      
      /* example 2 and 3 */
      
#side-menu:hover {
      left: 0px;
      opacity: 1;
   }
    
      #side-menu > a {
         display: block;
         width: inherit;
         height: 2em;
         opacity: 0.5;

         background-color: #999;
         border-right: 0.1em solid transparent;
         border-top: 0.05em solid #e5e5e5;
         border-bottom: 0.05em solid #e5e5e5;

         font-family: 'Roboto', sans-serif;
         text-decoration: none;
         color: #222244;
         line-height: 2em;
         padding-left: 1em;

         transition: opacity 0.5s;
         -webkit-transition: opacity 0.5s;
      }
      #example-1 > #side-menu > a:hover,
      

      /* example 1*/
      #side-menu > .home, #side-menu > .home:after  { border-right-color: #cf3e2c; }
      #side-menu > .courses, #side-menu > .courses:after { border-right-color: #3366cc; }
      #side-menu > .info, #side-menu > .info:after { border-right-color: #33cccc; }
      #side-menu > .exit, #side-menu > .exit:after { border-right-color: #339933; }

	  .flat-table {
                position: relative;
                left: 10em;
		margin-bottom: 20px;
		border-collapse:collapse;
		font-family: 'Lato', Calibri, Arial, sans-serif;
		border: none;
                border-radius: 3px;
               -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
	}
	.flat-table th, .flat-table td {
		box-shadow: inset 0 -1px rgba(0,0,0,0.25), 
			inset 0 1px rgba(0,0,0,0.25);
	}
	.flat-table th {
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		padding: 1em;
		color: rgba(0,0,0,0.45);
		text-shadow: 0 0 1px rgba(0,0,0,0.1);
		font-size: 1.5em;
	}
	.flat-table td {
		color: #f7f7f7;
		padding: 0.7em 1em 0.7em 1.15em;
		text-shadow: 0 0 1px rgba(255,255,255,0.1);
		font-size: 1.4em;
	}
	.flat-table tr {
		-webkit-transition: background 0.3s, box-shadow 0.3s;
		-moz-transition: background 0.3s, box-shadow 0.3s;
		transition: background 0.3s, box-shadow 0.3s;
	}
	.flat-table-1 {
                position : relative;
                margin-top: 50px;
		background: #336ca6;
	}
	.flat-table-1 tr:hover {
		background: rgba(0,0,0,0.19);
	}
	.flat-table-2 tr:hover {
		background: rgba(0,0,0,0.1);
	}
	.flat-table-2 {
		background: #f06060;
	}
	.flat-table-3 {
		background: #52be7f;
	}
	.flat-table-3 tr:hover {
		background: rgba(0,0,0,0.1);
	}
      

.clearfix {
   height: 0;
   line-height: 0;
   visibility: hidden;
   clear: both;
   content: ".";
   display: block;
}
